<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>

<!-- Main Content section -->
<main class="container">
    <div class='bg-light p-5 rounded'>
        <h1><%= title %></h1>
        <p>Please leave your information in the contact form below.</p>
        <a href="https://www.w3schools.com/tags/tag_input.asp">Link to examples of html tags that can be used for forms.</a>
        <br />
        <br />

        <form>
            <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <input type="submit" value="Submit">
        </form>
          
    </div>
</main>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>