<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>

<!-- Main Content section -->
<main class="container">
  <div class='bg-light p-5 rounded'>
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
    <p>Hello World!</p>
    <% if (title === 'Home') { %>
      <p>Name: <%= displayName %></p>
    <% } %>
  </div>
</main>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>