<main class="container">
    <div class='bg-light p-5 rounded'>
        <h1>Home page heading</h1>
        <p>
            You can use the mark tag to text. Akjk kjk jk jkj kj kk jk jk jk jk k kjk j k k kk kj k jk k jk k k
            klklllk. JJjkjkkkdksfds fsd fsd fs df sdfsd fdsf sf sf f sf sfsf . Jasd sf sf sf sf sf sfdsfdsf.
            You can use the mark tag to <mark>highlight</mark> text.
        </p>
        <p>
            You can use the mark tag to text. Akjk kjk jk jkj kj kk jk jk jk jk k kjk j k k kk kj k jk k jk k k
            klklllk. JJjkjkkkdksfds fsd fsd fs df sdfsd fdsf sf sf f sf sfsf . Jasd sf sf sf sf sf sfdsfdsf.
            You can use the mark tag to text.
        </p>

        <blockquote class="blockquote text-right">
            <p class="mb-0">A well-known quote, contained in a blockquote element.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>

    </div>
</main>