<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>

<main class="container">
    <!-- message area -->
    <% if(messages.length > 0) { %>
    <div class="alert alert-danger">
        <%= message %>
    </div>
    <% }  %>

    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h1>Please Register</h1>
            <form method="POST" autocomplete="off">
                <fieldset class="form-group">
                    <label for="username">Username: </label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter User Name" required
                        autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password" required>
                </fieldset>

                <fieldset class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" class="form-control" name="email" id="email"  placeholder="Enter Email" required>
                </fieldset>

                <fieldset class="form-group">
                    <label for="displayName">Display Name: </label>
                    <input type="text" class="form-control" name="displayName" id="displayName"  placeholder="Enter Display Name" required>
                </fieldset>

                <fieldset class="form-group text-right">
                    <button type="submit" class="btn btn-success" value="Register">Register</button>
                    <button href="/" class="btn btn-warning">Cancel</button>
                </fieldset>
            </form>
        </div>
    </div>
</main>

<% include ../partials/bottom_nav.ejs %>
<% include ../partials/footer.ejs %>